
.body{
    display:flex;
    justify-content: center;
    align-items: center;
}
.front{
    background-size: cover;
    background-image: url(photo6.jpg);
    background-repeat:repeat-y;
    width:600px;
    height: 600px;
    align-content: center;
    border-radius: 10px;
}
.head{
    text-align: center;
    font-size: 50px;
    color:rgb(10, 13, 12);
    padding-top: 90px;
}
.dates{
    text-align: center;
    color: white;
}
p {
    color: black;
}
form {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(226, 223, 219);
    border-radius: 20px;
}